// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";

$w-std:1170px;
$light-color:#ffffff;
$accent_color:#65e496;
$dark_accent_color:#65e4b5;
$black_color:#44444f;
$darkblue_color:#696980;

$bg-gray-page:#f5f6fa;
$bg-dark-page:#44444f;

body {
  font-family: "Roboto Slab", serif;
}

h3{
  font-size: 24px;
  letter-spacing: 1.3px;
}

.page-main {
  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 38px;
  padding-bottom: 162px;
}

.wrap{
  max-width: $w-std;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $w-std;
  margin: 0 auto;
  &__logo{
    display: block;
    background: url("../img/logo.svg");
    width: 137px;
    height: 28px;
  }
  &-list{
    font-family: "Open Sans", serif;
    display: flex;
    list-style-type: none;
    justify-items: flex-end;
    &__item{
      &:not(:first-child){
        margin-left: 21px;
      }
    }
    &__link{
      color: $light-color;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.64px;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      transition: 0.3s;
      padding-bottom: 2px;
      &:hover{
        border-bottom: 3px solid $accent_color;
      }
      &.active{
        border-bottom: 3px solid $accent_color;
      }
    }
  }
}

.block-book{
  display: flex;
  justify-content: space-between;
  padding-top: 181px;
  &-demo{
    display: block;
    flex-basis: 445px;
    //width: 445px;
    height: 643px;
    background-image: url("../img/book.svg");
    background-repeat:no-repeat;
    border-radius: 10px;
    position: relative;
    &__title{
      display: block;
      left: 128px;
      top: 109px;
      position: absolute;
      color: $light-color;
      font-size: 36px;
      text-align: center;
      letter-spacing: 1.1px;
    }
    &__subtitle{
      font-family: "Open Sans", serif;
      display: block;
      color: $accent_color;
      font-size: 14px;
      font-weight: 100;
      letter-spacing: 0.95px;
      margin-top: 5px;
    }
    &__name{
      position: absolute;
      font-family: "Open Sans", serif;
      color: $accent_color;
      font-size: 14px;
      bottom: 47px;
      left: 86px;
      letter-spacing: 0.85px;
    }
  }
}

.block-text{
  flex-basis: calc(100% - 500px);
  &__name{
    font-family: "Open Sans", serif;
    color: $light-color;
    font-weight: 400;
    letter-spacing: .75px;
    font-size: 18px;
    margin: 0 0 31px 2px;
    //margin-bottom: 31px;
    //margin-left: 2px;
    //margin-top:0;
  }
    &__title{
      color: $light-color;
      font-size: 48px;
      letter-spacing: 1.68px;
      font-weight: 700;
      margin-bottom: 37px;
      span{
        display: block;
        color: $accent_color;
        font-size: 18px;
        letter-spacing: .95px;
        font-weight: 400;
        margin-top: 12px;
      }
    }
  &__description{
    font-family: "Open Sans", serif;
    color: $light-color;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .75px;
    line-height: 24px;
    padding-right: 85px;
    & p:not(:first-child){
      margin-top: 25px;
    }
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-color;
    background-color: $accent_color;
    text-decoration: none;
    width: 250px;
    height: 48px;
    letter-spacing: .4px;
    margin-top: 45px;

  }
  & small{
    display: block;
    font-family: "Open Sans", serif;
    font-size: 12px;
    letter-spacing: .5px;
    color: $light-color;
    font-style: italic;
    margin-top: 23px;
  }
}

.block-author{
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  & .block-text{
    padding-top: 17px;
    &__name{
      margin-bottom: 18px;
    }
    &__btn{
      width: 238px;
      font-size: 18px;
    }
  }
}

.block-ava{
  position: relative;

  &__svg{
    position: absolute;
    z-index: -1;
    right: 0;
    top:0;
  }
  &__img{
    margin-right: 45px;
    margin-top:48px;
  }
}

.black-text{
  color: $black_color;
}
.darkblue-text{
  color: $darkblue_color;
}

.block-counter{
  display: flex;
  justify-content: space-around;
  margin: 161px 0 145px;
  p{
    font-family: "Open Sans", serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.7px;
    color: $darkblue_color;
    span{
      display: block;
      font-size: 80px;
      font-weight: 100;
      color: $dark_accent_color;
      font-family: "Roboto Slab", serif;
      margin-bottom: 13px;
    }
  }
}
.page{
  padding-top: 96px;
  &_gray{
    padding-bottom: 255px;
    //padding: 96px 0 255px;
    background-color: $bg-gray-page;
  }
  &__title{
    letter-spacing: 2px;
    margin-top: 50px;
    font-size: 48px;
    text-align: center;
    color: $black_color;
  }
  &__subtitle{
    display: block;
    color: $accent_color;
    font-size: 18px;
    letter-spacing: .95px;
    margin: 10px 0 83px;
    text-align: center;
  }
}
.block-about{
  display: flex;
  justify-content: space-between;
  &-text{
    flex-basis: 40%;
    &__text{
      font-family: "Open Sans",serif;
      color: $darkblue_color;
      margin: 18px 0 0 0;
      letter-spacing: 0.3px;
      line-height: 150%;
    }
  }

  &-social{
    margin: 11px 0 0 2px;
    &__title{
      font-weight: 700;
      display: inline-block;
      font-size: 19px;
      letter-spacing: 0.45px;
    }
    &__list{
      list-style-type: none;
      padding-left:21px;
      display: inline;
      &>li{
        display: inline;
        margin-right: 7px;
      }
      .fa-brands{
        height: 18px;
        width: 18px;
        vertical-align: middle;
        color: $accent_color;
      }
    }
  }
  &-table{
    flex-basis: 48.82%;
    &__list{
      margin:23px 0 0 ;
      padding: 0;
      column-count: 2;
      column-gap: 26px;
      list-style-type: none;
      counter-reset: list;
      &>li{
        position: relative;
        font-size: 15px;
        padding-left: 37px;
        font-family: "Open Sans", serif;
        counter-increment: list;
        margin-bottom: 9px;
        line-height: 23px;
        letter-spacing: 0.7px;
        &:before{
          content: counter(list) ". ";
        }
        &:after{
          content: "+";
          background-color: #5fc9ba;
          padding: 0 7px;
          position: absolute;
          left: 0;
          color: $light-color;
        }
      }
    }
    &__btn{
      display: block;
      text-align: center;
      border-style: none;
      border-radius: 5%;
      height: 50px;
      width: 135px;
      background: $dark_accent_color;
      color: $light-color;
      letter-spacing: 1.5px;
      margin-top: 26px;
    }
  }
}

.other{
  &__row{
    display: flex;
    justify-content: space-around;
    margin-top: 87px;
  }
  &__column{
    flex-basis: 325px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &-book{
    width: 269px;
    height: 409px;
    background-image: url("../img/book.svg");
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
    border-radius: 4px;
    &-description{
      text-align: center;
      &__title{
        color: $black_color;
        font-size: 24px;
        margin-top: 34px;
        letter-spacing: 1px;
      }
      &__text{
        font-size: 15px;
        color: $darkblue_color;
        letter-spacing: 0.75px;
        line-height: 22.5px;
      }
      &__link{
        font-size: 15px;
        text-decoration-line: none;
        color: $accent_color;
        font-weight: 600;
      }

    }
    &__title{
      color: $light-color;
      font-size: 24px;
      text-transform: uppercase;
      position: absolute;
      left: 77px;
      top: 69px;
      letter-spacing: 1px;
    }
    &__subtitle{
      display: block;
      color: $accent_color;
      font-size: 12px;
      font-family: "Open Sans", serif;
      text-transform: none;
      font-weight: 100;
      margin: 9px 0 0 -6px;
      letter-spacing: 0.75px

    }
    &__name{
      color: $accent_color;
      font-size: 12px;
      font-family: "Open Sans", serif;
      position: absolute;
      bottom: 22px;
      left: 82px;
      letter-spacing: 0.6px;
    }
  }
}